/* ========================================= Form page ========================================== */

#bodyId {
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-image: url("../pic/1.jpg");
    background-repeat: no-repeat;
}

#cvDivId {
    animation: blinker 1s linear infinite;
    /*-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;*/
    padding: 20px;
    border: none;
    font-family: cursive;
    font-size: 35px;
    color: #140502;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 242, 21), 0 0 30px rgb(255, 242, 21), 0 0 40px rgb(255, 251, 33), 0 0 70px rgb(255, 242, 21), 0 0 80px rgb(255, 242, 21), 0 0 100px rgb(255, 242, 21), 0 0 150px rgb(255, 242, 21);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

@keyframes blinker {
    50% {
        opacity: 0.4;
    }
}

#formDivId {
    text-align: left;
    align-content: center;
    width: 40%;
    float: left;
}

#formId {
    width: 100%;
    align-content: center;
}

#formId [type="submit"] {
    color: black;
    text-shadow: none;
}

.formaDescribeText {
    float: left;
    width: 30%;
    color: white;
}

.formaAnswerText {
    /* float: right;*/
    width: 49%;
}

#informationMenuDivId {
    color: white;
}

#pesonalInfoDivId {
    width: 30%;
    display: none;
}

#workExperienceDivID {
    width: 50%;
    display: none;
}

#educationAndTrainingsdivId {
    width: 50%;
    display: none;
}

.responsibilitiesClass {
    vertical-align: baseline;
    width: 10%;
}

#standartTextTabCellClass {
    width: 10%;
}

.personalInfoSpanLeft {
    width: 20%;
    color: white;
}

.personalInfoSpanright {
    width: 20%;
    color: white;
}

#addressDivId {
    width: 100%;
}

#infotabId > td {
    color: white;
}

div, input, b {
    text-shadow: 0 0 10px rgb(255, 48, 37), 0 0 20px rgb(255, 53, 24), 0 0 30px rgb(255, 26, 16), 0 0 40px rgb(255, 33, 21), 0 0 70px rgb(255, 242, 21), 0 0 80px rgb(255, 242, 21), 0 0 100px rgb(255, 242, 21), 0 0 150px rgb(255, 242, 21);
}

input[type=text], input[type=email], select {
    background: black;
    color: white;
    text-shadow: none;
    border: none;
    border-bottom: 1px dashed #ff0d00;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

selectPersonalInfoId {
    background: black;
}
